<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @passenger.name %></h1>
    <p>
      Your booking has been confirmed. Please see details below.<br>
    </p>
    <p>
      Name: <%= @passenger.name %></br>
      Departing: <%= @booking.flight.departure_airport.name %></br>
      Ariving at: <%= @booking.flight.arrival_airport.name %></br>
      Date: <%= @booking.flight.departure_date %></br>
    </p>
    <p>Bon Voyage</p>

    Thee Odin Flight Team
  </body>
</html>
